body {
    background-color: rgba(0, 0, 15, 0.9);
}

header {
    
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

header nav {
    display: flex;
    flex-direction: row;
    
    
    
}

header nav a {
    margin-right: 75px;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

header nav a:hover {
    color: red;
}

#home {
    color: #0dba86;
}



#aboutMeContainer {
    
    display: flex;
    width: 35%;
    
    margin-right: 100px;
    flex-direction: column;
    

}


#name {
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin-top: 60px;
    padding-left: 10px;
    
    
}

.tagline {
    color: #0dba86;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0;
    margin-bottom: 40px;
    padding-left: 10px;
}

#aboutMeContainer button {
    background-color: #0dba86;
    width: 200px;
    height: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 16px;
    border-radius: 35px;
    padding-left: 10px;
    margin-top: 40px;
    cursor: pointer;
    border: none;
}

#bio {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10px;
    font-size: 18px;

}

#hi {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    padding-left: 10px;
    

}

#pictureFrame {
    width: 420px;
    height: 420px;
    border-right: solid #0dba86 2px;
    border-bottom: solid #0dba86 2px;
    
    margin-left: 100px;
}

#pictureFrame img {
    
    height: 400px;
    width: 400px;
}

.AboutMe {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.projects {
    
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}

#projectSquare {
    border: #0dba86 solid 3px;
    width: 400px;
    height: 400px;
    margin: auto;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

#projectSquare2 {
    border: #0dba86 solid 3px;
    
    width: 800px;
    min-height: 500px;
    margin: auto;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

#projectSquare2 h2 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 30px;
}

#projectSquare2 p {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 30px;
    font-size: 18px;
}



#projectSquare h2 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 30px;
}

#projectSquare p {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 50px;
    font-size: 18px;
}


.material-symbols-outlined {
    color: white;
    margin-top: 25px;
    width: 150px;
    height: 100px;
    text-align: center;
    font-size: 75px;
    


}

.red {
    width: 500px;
    height: 2px;
    margin: auto;
    background-color: #0dba86;

}


.line {
    width: 250px;
    height: 3px;
    margin: auto;
    background-color: #0dba86;
    
}

.long {
    margin-top: 150px;
    width: 500px;
}



article h2 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 0;
    
    
}

article p {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;

}

article button {
    border-radius: 20px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 250px;
    height: 50px;
    background: #0dba86;
    font-weight: bold;
    border: none;
    cursor: pointer;

}

article img {
    width: 60%;
    margin-left: 20px;
    max-height: 300px;
}

.buttonContainer {
    margin: auto;
    margin-bottom: 20px;
}

.asideTechUsed {
    border: solid #0dba86 3px;
    max-height: 300px;
    width: 30%;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

.asideTechUsed p {
    margin-top: 15px;
}



.midContainer {
    display: flex;
    justify-content: space-between;
}

.frame {
    border: solid 3px #0dba86;
    height: 600px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    
    display: flex;

}

.virtualPetContainer {
    height: 90%;
    width: 95%;
    background-color: rgb(230, 230, 230);
    margin: auto;
    display: grid;
    border: 3px solid #0dba86;
    
    
}

.AboutMe div button a {
    text-decoration: none;
    color: black;
}

.logo {
    max-width: 350px;
    max-height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    margin-bottom: 20px;
}


footer {
   height: 80px;
   
   margin-top: 200px;
   display: flex;
   align-items: center;
   justify-content: flex-end;

}

footer a img{
    width: 50px;
    height: 50px;

}

footer a {
    margin-right: 50px;
}

#githublogo img{
    border-radius: 50%;

}

.buttonContainer button a {
    color: black;
    text-decoration: none;
}